smbus
Adafruit-Blinka
adafruit-circuitpython-motor
Adafruit-PlatformDetect
Adafruit-PureIO
Adafruit_MotorHat
adafruit-circuitpython-motorkit
Jetson.GPIO
pyftdi
pyserial
pyusb
setuptools
smbus
notebook
ipywidgets
